.container {
    padding-top: 15px;
}

.title {
    font-size: 18px;
    font-weight: 500;
    color: var(--primary-color);
}

.formContainer {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

.formRow {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}