.cartContainer {
    /* 1. CLAVAR A LA PANTALLA */
    /* position: fixed;
    left: 0;
    right: 0;
    bottom: 0; */
    
    /* 2. Altura exacta del viewport móvil */
    /* height: 100dvh; 
    width: 100vw; */
    
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cartItems {
    /* 4. LA MAGIA: "Flex 1" le dice: "Ocupa todo el espacio sobrante" */
    flex: 1;
    
    /* Permite scroll SOLO en esta zona si hay muchos productos */
    overflow-y: auto; 

    padding: 0 15px 15px 15px;
    
    /* Evita errores de cálculo en flexbox */
    /* min-height: 0;  */
}

/* EL FOOTER (ResumenCarrito) */
/* Flexbox lo empujará al fondo automáticamente porque cartItems tiene flex: 1 */