.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);;
    color: white;
    padding: 20px;
}

.profileImage {
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 5px;
}

.profileName {
    margin-top: 1rem;
    font-weight: 500;
    font-size: 15px;
}

.profileEmail {
    font-weight: 400;
    font-size: 14px;
}