.productList {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 productos por fila */
  gap: 16px; /* Espacio entre productos */
}

.productCard {
  display: flex;
  flex-direction: column;
}

.productImage {
  border-radius: 5px;
}

.productName {
  padding-top: 5px;
  min-height: 3rem; /* Define una altura mínima para el nombre del producto */
  overflow: hidden; /* Evita desbordamientos si el texto es demasiado largo */
}

.productPrice {
  color: var(--color-text-red);  
  font-weight: bold;
}

.btnAddToCartButton {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  height: 31px !important;
  font-size: 14px !important;
}

.productInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
}