.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.backLink {
    position: absolute;
    left: 0;
    top: 1px;
}

.title {
    font-size: 17px;
    font-weight: 500;
    margin: 0;
    text-align: center;
}

.icon {
    width: 18px;
    height: 18px;
}