.container {
    padding: 20px 15px 15px 15px;
}

.radioContainer {
    width: 100%;
}

.radio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px 12px;
    margin-bottom: 8px;
}

.buttonContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0px 10px 10px 10px;
}

.buttonContainer button {
    font-size: 13px;
}
