@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #03A9F4;
  --accent-color: #4CAF50;
  --light-primary-color: #E1F5FE;
  --dark-primary-color: #0288d1;
  --color-text-primary: #212121;
  --color-text-red: #ff5252;
  --color-text-secondary: #757575;
  --color-divider: #E0E0E0;
  --color-divider-light: #F5F5F5;
  --color-icon: #727272;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #ededed;
    --foreground: #ededed; */
  }
}

/* Agrega esto al inicio de tu globals.css */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* Esto evita el efecto "rebote" feo al scrollear en móviles */
  overscroll-behavior: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-size: 14px;
}

.layout-grid {
  /* 1. Saca el grid del flujo normal y clávalo a la pantalla */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  /* 2. Mantén tu configuración de Grid */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "contenido"
    "bottomNavBar";

  /* 3. Aseguramos las dimensiones */
  width: 100vw;
  height: 100dvh;
  /* Dynamic Viewport Height */

  /* 4. Importante: evitar cualquier desbordamiento del contenedor padre */
  overflow: hidden;
  z-index: 0;
  /* Asegura un contexto de apilamiento base */
}

.header {
  grid-area: header;
}

.contenido {
  grid-area: contenido;

  width: 100%;
  height: 100%;

  /* CAMBIO 3: ¡ESTA LÍNEA ES MÁGICA PARA GRID! */
  min-height: 0;

  overflow-y: auto;
  scroll-behavior: smooth;

  /* Opcional: Un poco de padding para que el texto no pegue con los bordes */
  padding-bottom: 20px;
}

.bottomNavBar {
  grid-area: bottomNavBar;
}

.btn {
  font-weight: 500;
  padding: 5px 15px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.btnPrimary {
  background-color: var(--primary-color);
  color: white;
}

.btnPrimaryLight {
  background-color: var(--light-primary-color);
  color: var(--primary-color);
}

.btnAccent {
  background-color: var(--accent-color);
  color: white;
}

.btnPrimary:hover {
  background-color: var(--dark-primary-color);
}

.btnFull {
  width: 100%;
}
