/* ⭐ COMPARTIDO PARA AMBOS HEADERS (PRIMERO) */
.header,
.headerWithBack {
  height: var(--header-height);
}

/* ⭐ HEADER DEL HOME (LUEGO) */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

/* ⭐ HEADER CON BACK (LUEGO) */
.headerWithBack {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

/* ⭐ BOTÓN ATRÁS */
.backButton {
  position: absolute;
  left: 16px;
  cursor: pointer;
}

/* ⭐ TÍTULO CENTRADO */
.title {
  font-size: 17px;
  font-weight: 500;
}

/* ⭐ SEARCH (se mantiene igual) */
.search {
  width: 77%;
  position: relative;
}

.search svg {
  position: absolute;
  top: 9px;
  left: 13px;
  width: 21px;
  height: 21px;
  color: var(--color-icon);
}

.search input {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px 10px 8px 44px;
  color: var(--color-text-primary);
  font-size: 14px;
  border-color: var(--color-text-secondary);
  transition: border-color 0.3s ease;
}

.search input:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.cartIconContainer {
  position: relative;
}

.backIcon {
    width: 18px;
    height: 18px;
}