.summaryContainer {
    border-top: 1px solid var(--color-divider);
    padding: 10px;
}

.totalContainer {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    font-size: 15px;
    font-weight: 700;
}

.summaryContainer button {
    padding: 10px 20px !important;
    border: none;
    font-size: 13px;
}

.returnButton {
    display: flex;
    justify-content: center;
    align-items: end;
}

.returnButton .icon {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 7px;
}

.checkoutButton {
    margin-top: 8px;
}