.title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;    
}

.productPrice {
    color: var(--color-text-red);
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 14px;
}