.emptyState {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
    gap: 16px;
    padding: 32px 16px;
}

.imgWrapper {
    width: 100%;
    max-width: 380px;
    height: 240px;
    position: relative;
    margin-bottom: 8px;
}

.emptyIllustration {
    object-fit: contain;
}


.emptyTitle {
    font-size: 1.4rem;
    font-weight: 500;
    color: #111;
}

.emptyText {
    font-size: 1rem;
    color: #555;
    max-width: 280px;
}

.startShoppingBtn {
    margin-top: 8px;
    background-color: #0070f3;
    padding: 10px 18px;
    border-radius: 8px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    transition: 0.2s;
}

.startShoppingBtn:hover {
    background-color: #005ac1;
}